@import "../lib/fontawesome-free-6.0.0-web/css/all.css";

html, body {
	margin: 0px;
}

#root {
	display: grid;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
	"header header"
	"log quick-bar"
	"input input";
}

#header {
	grid-area: header;
}

#logs {
	grid-area: log;
}
#quick-bar {
	grid-area: quick-bar;
}


#header h1  {
	margin: 0;
}


#input {
	grid-area: input;
	display: grid;

	grid-template-columns: auto 1fr auto;
	grid-template-rows: auto;
}
#input select {

}
#input input {

}
#input button {

}
